#description-parts{
    list-style-type: none;
}

#descriptor{
    border-style: solid;
    border-color: lightgray;
    width: 600px;
    margin-right: 5%;
    height: 200px;
    direction: rtl;
    float: right;


}

#About{
    margin-right: 5%;
    margin-left: 5%;
    direction: rtl;
    display: inline-block;
    list-style-type: none;
    width: 90%;
}

#description-part1{
    float: right;
    width: 110px;
}
#description-part2{
    float: left;
    width: 440px;
    direction: rtl;
    /*position: relative;*/
    /*top: 0px;*/
    /*bottom: 10px;*/
    /*top:290px;*/
    /*right: 270px;*/

}
#logo_image{
    float: right;
}


.paragraph{
    font-size: 80%;
    color: gray;
    direction: rtl;
}

#feedbacks{
    width: 200px;
    height: 200px;
    margin-right: 5%;
    margin-left: 5%;
    border-style: solid;
    border-color: #C8D6E8;
    background-color: white;
    background-image: url("../icons/opinion.png");;
    float: left;
    align-content: center;
    align-items: center;
}

#feedback{
    color: darkgray;
    font-size: 80%;
    box-shadow: none;
    margin-top: 40%;
    margin-right: 15%;
    height: 20px;
    text-align: center;
    direction: rtl;

}