@font-face {
    font-family: 'Shabnam';
    src: url('font/Shabnam.eot') format('eot'), /* IE6–8 */
    url('font/Shabnam.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('font/Shabnam.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
*{
    font-family:"Shabnam";
    font-size:13px;
}

#header{
    width: 100%;
    float: right;
    margin-top: 1%;
}

#search{
    width:15% ;
    length: 8%;
    float: left;
    margin-top: 1%;
    border-radius: 15%;
    border: solid 1px;
    border-color: lightgray;
}

#search_button{
    /*position: relative;*/
    margin-left: 1%;
    margin-top: 1%;
    top: 100%;
    float: left;
    width: 20px;
    height: 20px;
    background-color:#ffffff;
    image-align: center;
    cursor: pointer;
    font-size: 15px;
    border:solid 0px;
}

#search_term{
    direction: rtl;
    width: 70%;
    margin-right: 2%;
    length: 20%;
    float: right;
    box-shadow: none;
    border: none;
    border-color: lightgray;
    left: 0%;
    top: 0%

}
#search_term:focus{
    outline: none;

}

#search:focus{
    border-style: solid;
}

#page_title{
    position: absolute;
    left: 45%;
    top: 2%;
    font-size: 300%;
    color: lightgray;
}

#login{
    float: right;

        }

.signin-up{
    display: inline-block;
    color: darkgrey;
    border-color: lightgray;
    border-style: solid;
    border-radius: 40%;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    padding: 5px 25px;

}

.signin-up:hover{
    color: white;
    background-color: lightgray;
}

#menu{
    margin-top: 10%;
    margin-left: 25%;
    width: 80%;
}
#nav{
    list-style-type: none;
}
.item{
    display: inline-block;
    color: darkgrey;
    border-color: lightgray;
    text-decoration: none;
    border-style: none;
    text-align: center;
    padding: 5px 25px;

}
.menu1_link{
    display: inline;
    color: darkgrey;
    font-size: 110%;
    border-color: lightgray;
    text-decoration: none;
    border-style: none;
    text-align: center;
    padding: 0px 0px;
}
.menu1_link:hover{
    color: darkseagreen;
}

.menu2_link{
    display: inline-block;
    color: darkgrey;
    font-size: 110%;
    border-color: lightgray;
    text-decoration: none;
    border-style: solid;
    text-align: center;
    padding: 10px 8px;
    width: 98px;
    length: 40px;
    text-align: center;

}
.link_img{
    display: block;
    position: relative;
    right: 25px;
    opacity: 0.5;
}

.menu2_link:hover{
    color: darkseagreen;


}

#menu_bar{
    right: auto;
    left: auto;
    direction: rtl;
}



