@font-face {
    font-family: 'Shabnam';
    src: url('font/Shabnam.eot') format('eot'), /* IE6–8 */
    url('font/Shabnam.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('font/Shabnam.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
*{
    font-family:"Shabnam";
    font-size:13px;
}

#support{
    position: fixed;
    right:2px;
    bottom: 0px;
    direction: rtl;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: blue;
    background-color: blue;
    width: 10%;
}

#s-button{
    position: fixed;
    right:30px;
    bottom: 0px;
    border-style: solid;
    border-color: blue;
    background-color: blue;
}

#s-img{
    width: 4%;
    height: 4%;
}

#header{
    width: 100%;
    height: 30%;
    float: right;
    margin-top: 1%;
    margin-bottom: 1%;
}

#search{
    width:15% ;
    length: 8%;
    float: left;
    margin-top: 1%;
    border-radius: 15px;
    border: solid 1px;
    border-color: lightgray;
}

#search_button{
    /*position: relative;*/
    margin-left: 1%;
    margin-top: 1%;
    top: 100%;
    float: left;
    width: 20px;
    height: 20px;
    background-color:#ffffff;
    image-align: center;
    cursor: pointer;
    font-size: 15px;
    border:solid 0px;
}

#search_term{
    direction: rtl;
    width: 70%;
    margin-right: 2%;
    length: 20%;
    float: right;
    box-shadow: none;
    border: none;
    border-color: lightgray;
    left: 0%;
    top: 0%

}
#search_term:focus{
    outline: none;

}

#search:focus{
    border-style: solid;
}

#page_title{
    position: absolute;
    left: 45%;
    top: 2%;
    font-size: 300%;
    color: lightgray;
}

#login{
    float: right;

        }

.signin-up{
    display: inline-block;
    color: darkgrey;
    border-color: lightgray;
    border-style: solid;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    padding: 5px 25px;

}

.signin-up:hover{
    color: white;
    background-color: lightgray;
}

#menu{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    direction: rtl;
}
#nav{
    list-style-type: none;
}
.item{
    display: inline-block;
    color: darkgrey;
    border-color: lightgray;
    text-decoration: none;
    border-style: none;
    text-align: center;
    /*padding: 5px 25px;*/
    margin-left: 3%;
    width: 12%;

}
.menu1_link{
    display: inline;
    color: darkgrey;
    font-size: 110%;
    border-color: lightgray;
    text-decoration: none;
    border-style: none;
    text-align: center;
    padding: 10px 8px;
    width: 100%;
    margin-right: 10%;
}
.menu1_link:hover{
    color: #C8D6E8;
}

.menu2_link{
    display: inline-block;
    color: darkgrey;
    font-size: 110%;
    border-color: lightgray;
    text-decoration: none;
    border-style: solid;
    text-align: center;
    padding: 10px 8px;
    width: 90%;
    length: 40px;
    text-align: center;
    margin-right: 5%;

}

#menu2_linkpage{
    display: inline-block;
    color: blue;
    font-size: 110%;
    border-color: blue;
    text-decoration: none;
    border-style: solid;
    text-align: center;
    padding: 10px 8px;
    width: 90%;
    length: 40px;
    text-align: center;
    margin-right: 5%;

}

.link_img{
    display: block;
    position: relative;
    margin-right: 28%;
    /*opacity: 0.5;*/
}

.menu2_link:hover{
    color: #C8D6E8;


}

#menu_bar{
    width: 90%;
    height: 20%;
    direction: rtl;
    /*align-self: center;*/
    /*position: relative;*/
}

#menuBar{
    margin-left: 2%;
    margin-right: 2%;
}


#main{
    width: 100%;
}

#footer{
    background-color: lightgray;
    height: 190px;
    margin-bottom: 0%;
    margin-left: 0%;
    direction: rtl;
    width: 100%;
    display: block;
}

#partition{
    display: block;
    list-style-type: none;
    width: 100%;
    direction: rtl;
}

#CS{
    /*width: 10%;*/
    /*margin-right: 10%;*/
    border-style: none;
    width: 10%;
    margin-right: 10%;
    direction: rtl;
    float: right;
}

.FP{
    font-size: 90%;
    margin-top: 1%;
    font-style: normal;
    color: darkslategrey;
    text-decoration: none;
    float: inherit;
    margin-right: 0%;
    direction: rtl;

}

#aboutus{
    border-style: none;
    width: 7%;
    margin-right: 5%;
    direction: rtl;
    float: right;
}


.iconcell{
}

#icons{
    margin-top: 1.5%;
    margin-right: 3%;
    float: right;
    color: darkslategrey;
}

#copyright{
    width: 35%;
    margin-right: 3%;
    margin-top: 3%;
    font-size: 90%;
    color: darkslategrey;
    float: right;
}

.text{
    margin-right: 1%;
    font-size: 90%;
    color: gray;
    direction: rtl;
}

.title{
    font-size: 100%;
    color: gray;
}

